.table_card{
    width: 600px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    background-color: #FFF;
    color: black;
    font-size: 18px;
}

.userBlock{
    width: 95%;
    padding: 10px;
    background-color: aliceblue;
}