/*Logo*/
.logoFull{
    display: flex;
    margin-top: 25px;
    margin-bottom: -30px;
}

.boxTitleTop{
    color: blueviolet;
    font-weight: lighter;
    font-size: 30px;
    margin: -20px;
}
.boxTitleBottom{
    color: blueviolet;
    font-weight: bold;
    font-size: 46px;
    margin: 0;
}